header
{
    display: block;
}
h1
{
    color: #454545;
    font-size: 36px;
    line-height: 45px;
    font-weight: bold;
}
table
{
    text-align: center;
}
thead
{
    font-weight: 700;
}
button
{
    cursor: pointer;
    padding: 2px 4px 2px 4px;
}
.buttons
{
    position: absolute;
    left: 35%;
    padding: 10px 0px 0px 0px;
}